
{% extends "base.html" %}

{% block title %}Supprimer Details{% endblock %}

{% block content %}

<h1>Liste des details à suprimer</h1>

<div class="table">
    <table class="content-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Credit</th>
                <th>Article</th>
                <th>Quantite</th>
                <th>Prix_unitaire</th>
                <th>Montant</th>
                <th>Date</th>
                <th>Montant_payer</th>
                <th>Rest_a_payer</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for detail_credit in detail_credits %}
            <tr>
                <td>{{detail_credit.id}}</td>
                <td>{{detail_credit.credit_rel.client.nom }} {{detail_credit.credit_rel.client.prenom }}</td>
                <td>{{ detail_credit.article_rel.nom_art }}</td>
                <td>{{detail_credit.quantite}}</td>
                <td>{{detail_credit.prix_unitaire}}</td>
                <td>{{detail_credit.montant}}</td>
                <td>{{detail_credit.date}}</td>
                <td>{{detail_credit.montant_payer}}</td>
                <td>{{detail_credit.rest_a_payer}}</td>
                <td>
                    <a href="{{url_for('routes.supprimdetail_credit',id=detail_credit.id)}}"><img src="{{url_for('static',filename='css/images/delete.png')}}" height="22px" width="22px"></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}


